body {
  font-family: 'Raleway', 'sans-serif';
  background-color: #262626;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li a{
  color: #ffffff;
}
p {
  font-size: 13px;
  color: #7a7a7a;
  line-height: 24px;
  left: 0.25px;
}

section {
  padding-top: 80px;
}


.blue-button a {
  display: inline-block;
  background-color: #763fe1;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 16px;
  text-decoration: none;
  border: 2px solid #763fe1;
  transition: all 0.5s;
}

.blue-button a:hover {
  background-color: transparent;
  color: #763fe1;
}


/* Header Style */

.cf:before, 
.cf:after {
  content: '';
  display: table;
  visibility: hidden;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

#header {
  overflow: visible;
  position: relative;
  background-color: #262626;
}


#header .logo {
  float: left;
}

#header .logo img {
  width: 100%;
  overflow: hidden;
}

.menu {
  float: right;
}

.menu li {
  float: left;
  margin-left: 30px;
  position: relative;
  line-height: 100px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu .sub-menu li {
  width: 100%;
  margin-left: 0px;
}

.menu li a {
  display: block;
  text-decoration: none;
}

#primary-nav li a {
  color: #9a9a9a;
  font-weight: bold;
  line-height: 100px;
  padding: 0px 15px;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.5s;
}

#primary-nav li > a:hover,
#primary-nav li.selected > a {
  color: #763fe1;
}


/* Banner Style */


.banner {
  background-image: url(../img/main_banner.jpg);
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .banner-caption {
  padding: 100px 0px;
}

.banner .banner-caption .line-dec {
  width: 80px;
  height: 3px;
  background-color: #763fe1;
}

.banner .banner-caption h2 {
  margin-top: 20px;
  margin-bottom: 300px;
  font-size: 42px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.banner .banner-caption span {
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.banner .banner-caption .blue-button {
  margin-top: 30px;
}

.banner .submit-form {
  border-bottom: 5px solid #763fe1;
  background-color: #262626;
  padding: 15px;
}

.submit-form .first-item {
  border-right: 1px solid #763fe1;
}

.submit-form select {
  width: 100%;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #9a9a9a;
  outline: none;
  padding: 0px 10px;
  display: inline-block;
}

.submit-form input {
  width: 100%;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #9a9a9a;
  outline: none;
  padding: 0px 10px;
  display: inline-block;
  box-shadow: none;
}

.submit-form input:focus{
  border-width: 0px;
  outline:0; /* I have also tried outline:none */
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

fieldset .btn{
  width: 100%;
  height: 50px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  border-radius: 0px;
  background-color: #763fe1;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: 600;
  border: 2px solid #763fe1;
  transition: all 0.5s;
}

fieldset .btn:hover{
  background-color: transparent;
  color: #763fe1;
}

.display_film{
  margin-top: 50px;
  margin-bottom: 50px;

}
.display_film h2{
  color : #9a9a9a;
  margin-bottom: 100px;
}

.display_film h5 {
  color: #763fe1;
}

.col-3 .border .rounded{
  border : #9a9a9a 1px solid;
  color: #9a9a9a;
}
.rounded{
  margin-bottom: 30px;
}

.film, .register, .add_film{
  border-top: #763fe1 1px solid;
}
.informations h2, .register h1, .add_film h1{
  color: #9a9a9a;
  margin-bottom: 100px;
  margin-top: 200px;
}
.buttons{
  margin-top: 50px;
}

.register form, .add_film form{
  border : solid 1px #763fe1;
  width: 60%;
  margin: auto;
  padding: 40px 80px;
}

.register form button, .add_film form button{
  margin: 30px auto auto;
  color: #cdcdcd;
  border-color: #763fe1;
  background-color: #763fe1;
}

.register form button:hover, .add_film form button:hover{
  color: #763fe1;
  background-color: transparent;
}



footer {
  margin-top: 80px;
  padding: 80px 0px 70px 0px;
  border-top: 1px solid #763fe1;
}

footer .footer-heading h4 {
  font-size: 21px;
  color: #cdcdcd;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

footer .about-veno ul li a {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  background-color: #cdcdcd;
  border-radius: 50%;
  font-size: 15px;
  color: #763fe1;
  margin-right: 3px;
  transition: all 0.5s;
}

footer .about-veno p {
  margin-bottom: 25px;
}

footer .about-veno ul li a:hover {
  background-color: #763fe1;
  color : #cdcdcd;
}

footer .useful-links ul li {
  margin-bottom: 12px;
}

footer .useful-links ul li a {
  font-size: 15px;
  color: #cdcdcd;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: all 0.5s;
}

footer .useful-links ul li a:hover {
  color: #763fe1;
}

footer .useful-links ul li i {
  color: #763fe1;
  font-size: 6px;
  position: relative;
  top: -3px;
  margin-right: 8px;
}

footer .contact-info p {
  margin-bottom: 25px;
}

footer .contact-info ul li {
  margin: 10px 0px;
}

footer .contact-info ul li span {
  font-size: 13px;
  color: #cdcdcd;
  font-weight: 600;
  letter-spacing: 0.3px;
  width: 80px;
  display: inline-block;
}

footer .contact-info ul li a {
  font-size: 13px;
  color: #763fe1;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.sub-footer p {
  text-align: center;
  display: inline-block;
  background-color: #262626;
  width: 100%;
  margin-bottom: 0px;
  padding: 30px 0px;
  font-size: 15px;
  color: #cdcdcd;
}

/*Modal*/
.modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
  border-radius: 3px;
}
.modal-dialog{
  background-color: #262626;
}
.modal-content{
  background-color: #262626;
}
.modal-header, .modal-footer{
  background-color: #262626;
  color: #ffffff;
  border: 3px solid #262626;
}
.modal-footer .btn {
  background-color: #763fe1;
  color: #ffffff;
  border: 2px solid #763fe1;
}
.modal-footer .btn:hover {
  background-color: transparent;
  color: #763fe1;
}
