<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Nouvel utilisateur</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontAwesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

</head>

<body>

  <div class="wrap">
    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="{{url_for('index')}}"><div class="logo">
              <img src="{{ url_for('static', filename='img/logo3.png') }}" alt="Venue Logo">
            </div></a>
            <nav id="primary-nav" class="dropdown cf">
              <ul class="dropdown menu">
                {% if session.get('id_user') is none : %}
                <li>
                  <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#ModalLogin">
                    Se connecter
                  </a>
                </li>
                <li>
                  <a href="{{url_for('register')}}" class="btn btn-default btn-rounded" >
                    Se créer un compte
                  </a>
                </li>
                {% else: %}
                <li>
                  <a>utilisateur : {{ session['username'] }}</a>
                </li>
                <li>
                  <a href={{url_for('logout')}} class="btn btn-default btn-rounded">
                    Se déconnecter
                  </a>
                </li>
                {% endif %}

                <div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                  <div class="modal-dialog modal-notify modal-warning" role="document">
                    <!--Content-->
                    <form class="modal-content" action={{url_for('login')}} method="POST">
                      <!--Header-->
                      <div class="modal-header text-center">
                        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Se connecter</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                      </div>

                      <!--Body-->
                      <div class="modal-body">
                        <div class="md-form mb-5">
                          <input type="text" name="username" id="form1Login" class="form-control validate" placeholder="Login">
                        </div>

                        <div class="md-form">
                          <input type="password" name="password" id="form1Pwd" class="form-control validate" placeholder="Mot de passe">
                        </div>
                      </div>

                      <!--Footer-->
                      <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn">Connexion</button>
                      </div>
                    </form>
                    <!--/.Content-->
                  </div>
                </div>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="container register">
    <div class="container message">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <h1 class="text-center">Formulaire D'inscription</h1>
    <form method="POST" action={{url_for('register')}}>
      <div class="form-group">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Nom d'utilisateur"/>
        <label for="password">Mot de passe:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe"/>
        <label for="email">Adresse mail:</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="Email"/>
      </div>
      <div class="form-group">
        <button class="btn btn-light" type="submit">valider</button>
      </div>
    </form>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="about-veno">
            <p>VideoStore est une entreprise privée à but lucratif régie par les lois du commerce
              et internet française, le site de VideoStore se veut coopératif avec sa communauté afin de
              trouver le film le plus adaté à votre soirée et le plus rapidement possible</p>
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-reddit"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="useful-links">
            <div class="footer-heading">
              <h4>Nos liens</h4>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li><a href="#"><i class="fa fa-stop"></i>Nos clients</a></li>
                  <li><a href="#"><i class="fa fa-stop"></i>Partenaires</a></li>
                  <li><a href="#"><i class="fa fa-stop"></i>Nous contacter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="contact-info">
            <div class="footer-heading">
              <h4>Nous joindre :</h4>
            </div>
            <p>VideoStore dispose dans d'au moins une agence dans chaque ville de chaque pays, alors il est
              très facile de nous contacter !</p>
            <ul>
              <li><span>Téléphone:</span><a href="#">069-666-001</a></li>
              <li><span>Email:</span><a href="#">community.club@videostore.int</a></li>
              <li><span>Adresse:</span><a href="#"> 47 rue Chauveau
                92200 Neuilly-sur-Seine FRANCE</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="sub-footer">
    <p>Copyright &copy; 2020 VideoStore</p>
  </div>

</body>